/* Global styles */
body {
    background: linear-gradient(180deg, #4C154D 30%, #5f1960 50%, #5f1960 70%, #4C154D 100%);
    /*background-color: #4C154D;*/
    font-family: consolas, sans-serif;
}

    /* Section Margin on .about to stop from disappearing under NavBar */
.about {
    margin-top: 100px;
}

    /* Section margin-tops */
.resources, .tools, .additional {
    margin-top: 30px;
}

    /* Section header styles */
.resource-header, .tools-header, .additional-header {
    color: #36c5f0;
    font-style: italic;
    text-align: center;
}

.resource-tooltip, .tools-tooltip, .additional-tooltip {
    font-size: 10px;
    color: #ecb22e;
    text-align: center;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    /*background: linear-gradient(180deg, #5f1960 20%, #4C154D 50%, #4C154D 80%, #5f1960 100%);*/
    background-color: #4C154D;
    text-align: center;
}

    /* Logo */
.navbar-brand img {
    height: 70px;
    width: 70px;
}

/* About Section styles */
    /* Fancy Border radius around image
    & `object-fit: contain;` to ensure image scales without loss to aspect ratio */
.welcome-image img {
    margin: 10px;
    height: 200px;
    object-fit: contain;
    min-height: 100%;
    max-height: none;
    border-radius: 100% 0 100% 0 / 20% 80% 20% 80%;
    border: 2px solid #2eb67d;
}

.welcome {
    margin: auto 0;
}

.welcome-text {
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

    /* Block divider to simulate end of about section */
.about::after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 20px auto 0;
    background: #ecb22e;
}

/* Resource Section Styles */
.resource-list-header {
    text-decoration: none;
    list-style: none;
}

    /* List item bullet styled to Slack icon */
.resource-list-header::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-image: url('../assets/images/slackIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.resource-list-header a {
    font-size: 18px;
    color: #36c5f0;
}

.li-subtext {
    color: #ffffff;
    padding: 5px 40px 0 50px;
}

    /* Block divider to simulate end of resource section */
.resources::after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 20px auto 0;
    background: #ecb22e;
}

/* Card Section Styles */
.card {
    margin: 10px;
    padding: 15px 0;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: #4C154D;
    border: #2eb67d 1px solid;
    border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
}

.card-title {
    font-size: 18px;
    color: #36c5f0;
}

    /* Block divider to simulate end of card section */
.cards::after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: 20px auto 0;
    background: #ecb22e;
}

/* Additiona Section Styles */
.additional-text {
    color: #ffffff;
    padding: 10px 25px;
}

.additional-list-header {
    text-decoration: none;
    list-style: none;
}

.additional-list-header a {
    color: #36c5f0;
}

.additional-list-header::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-image: url('../assets/images/slackIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    margin: 20px;
    width: 200px;
    height: 250px;
    border: 1px solid #2eb67d;
    border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

    /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

    /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

    /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: linear-gradient(180deg, #4C154D 30%, #5f1960 50%, #5f1960 70%, #4C154D 100%);
    border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
    color: #36c5f0;
    font-size: 22px;
    text-align: center;
}

    /* Style the back side */
.flip-card-back {
    background-color: #2eb67d;
    color: #000000;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
    transform: rotateY(180deg);
}

.quote-owner {
    height: 250px;
    line-height: 250px;
}

.quote {
    margin: 20px 5px 20px 5px;
}

.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}

/* Media Queries */
    /* Set max-width for cards on mobile view */
@media (min-width: 320px) {
    .card {
        height: 22rem;
        max-width: 300px;
        margin: 10px auto;
    }
}
    /* From 992px and up set height of card to 30rem to ensure
    content inside card does not overflow */
@media (min-width: 992px) {
    .card {
        height: 30rem;
    }
}

    /* Resize card height to 24rem at breakpoint 1200px to
    simulate resize to content */
@media (min-width: 1200px) {
    .card {
        height: 24rem;
    }
}