body {
    height: 100vh;
    background: linear-gradient(180deg, #4C154D 50%, #CD92FE 100%);
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: #4C154D;
    text-align: center;
}

/* Logo */
.navbar-brand img {
    height: 70px;
    width: 70px;
}

